# 1. Titulo del trabajo
This jupyter notebook is not of my authorship. It was made by a teacher of my master's degree, but I don't remember well. Therefore I make this statement explicit. I am using it for academic purposes.

_Updated: June 20th, 2023_

## 1.1 Segundo nivel
### 1.1.1 Tercer nivel
### 1.1.2 Tercer nivel 2
#### 1.1.2.1 Cuarto nivel

- lista 1._texto en negrilla_ **negrita**
- lista item 2 _italica_



```python
# Esto tiene formato de código
print()
```


#Código latex
- $\sin^2 x + \cos^2 x = 18$



## Editar tabla
>Operación|Significado|Resultado
>--|--|--
>1|21|3

# Bloque de código #1

In [ ]:
# Pruebe una por una de las operaciones de la tabla en esta celda
5032+7624+365
18213-9567.5
13.3*8.52
23/8
23//8
23%8
13**2

169

# 2. Variables

In [ ]:
# Pruebe la declaración de variables en esta celda
x = 3
print('X es:', x)
y = 4*x**2
print('Y es: ', y)

X es: 3
Y es:  36

In [ ]:
# Pruebas con ecuaciones
x = 3.5
y = 0.7
z = 4 * x**3 * y-2 * x**2 * y**2 + 10*x * y**3 + 5*x
print('X es: ', x)
print('Y es: ', y)
print('Z es: ', z)

X es:  3.5
Y es:  0.7
Z es:  137.55

In [ ]:
# Probando el nivel de precedencia de la potencia
x = 3
y = 2
z = 5
(x**y)*z
x**(y*z)
(z/x)**y
z/(x**y)

# 3. Tipos de datos

In [ ]:
num_entero = 1
print(type(num_entero))

#Tipo de dato real
num_real = 1.0
print(type(num_real))

#Verdadero
v = True
print(v)

#Falso
f = False
print(f)

<class 'int'>
<class 'float'>
True
False

In [ ]:
#Pruebe los tipos de datos en esta celda
v = True
print('v: ', v, 'tipo es: ', type(v))

v:  True tipo es:  <class 'bool'>

# Strings

In [ ]:
# Caracter
c = 'a'
print(type(c))

# Cadena de caracteres. Puede definirse con comilla '' o ""
cna_caracteres = 'Fundamentos de programación para analítica de datos'
print(cna_caracteres)

# Cadena de caracteres con cambios de línea
cna_caracteres = '''Fundamentos de programación.
Maestría en analítica de datos'''

print(cna_caracteres)
print(type(cna_caracteres))

<class 'str'>
Fundamentos de programación para analítica de datos
Fundamentos de programación.
Maestría en analítica de datos
<class 'str'>

## Otras opciones con strings

In [ ]:
# longitud de cadena de caracteres contando espacios
long_cnd = len(cna_caracteres)
print(long_cnd)

# Concatenar texto
cnt_texto = 'Esta es una forma ' + 'de ' + 'hacer ' + 'texto concatenado en Python '
cnt_texto = cnt_texto + ' mas texto ' + c
print(cnt_texto)

#
cnt_texto += ' y tambien en otros lenguajes'
print(cnt_texto)

# Strings desde Lenguaje C
x = 'manzana'
y = 'limones'
valor = 323
log = False
#$s Define el tipo de dato cadena o caracter y %i entero
z = 'A mi me gusta %a comer %s y %s, por lo menos %i de cada una' %(log,x,y,valor)
print(z)

59
Esta es una forma de hacer texto concatenado en Python  mas texto a
Esta es una forma de hacer texto concatenado en Python  mas texto a y tambien en otros lenguajes
A mi me gusta False comer manzana y limones, por lo menos 323 de cada una

## Leer desde teclado

In [ ]:
x = input('Escriba un número')
print(type(x), x)
x = int(x) #Conversión a formato numérico
print(type(x), x)

x = int(input('Escriba un número')) #Leer desde teclado y convertir a formato numérico
print(type(x), x)

Escriba un número2
<class 'str'> 2
<class 'int'> 2
Escriba un número5
<class 'int'> 5

# Sección nueva

In [ ]:
#Pruebe el algoritmo en esta celda
#Variables para las entradas
v_x = -10
v_y = 20
#Variables para las salidas
U_x = 0
u_y = 0
# Proceso
mod_v = (v_x**2 + v_y**2)**(1/2)
u_x = v_x / mod_v
u_y = v_y / mod_v
# Salidas
print('u = <', u_x, ', ', u_y, '>' )

u = < -0.4472135954999579 ,  0.8944271909999159 >